.containerDataApp {
  padding: 10px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.containerDataApp h4 {
  color: #acacbe;
  text-decoration: underline;
}

.listData {
  list-style: none;
  color: #acacbe;
}

.data {
  color: green;
  text-shadow: 0 0 0.5px #00ff00, 0 0 1px #00ff00;
}
