@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:ital,wght@0,300;1,400;1,500&family=Silkscreen&display=swap');

.chat{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242, 248, 250);
    width: 350px;
    height: 480px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 10px;
}