.headerChat{
    width: 100%;
    height: 12%;
    background-color: rgb(18, 70, 181);
    color: white;
    border-top-left-radius: 10px;
    padding: 10px;
    display: flex;
    align-items:center;
    font-size: 18px;
    font-weight: bold;
}


.iconHeader {
    font-size: 39px;
    margin-right: 15px;
}