@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=DotGothic16&family=Roboto:ital,wght@0,300;1,400;1,500&family=Silkscreen&display=swap');

.openChat{
    font-family: 'Assistant', sans-serif;
    background-color: rgb(242, 248, 250);
    width: 350px;
    height: 480px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all ease 1s;
}

.noOpenChat{
    display: none;
}

.closeChat{
    display: none;
}

.noCloseChat{
    display: unset;
}

@media screen and (max-width: 400px) {
    .openChat{
        width: 90%;
        height: 500px;
        min-width: 250px;
        bottom: 7px;
        right: 15px;
    }
}
