.headerPageContainer{
    background-color:#26295B;
    padding: 11px 30px ;
    display: flex;
    justify-content:end;
    align-items: center;
    max-height: 66px;
    min-height: 66px;
    position: fixed;
    width: 100%;
}

.headerPageContainer button{
    background-color: unset;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.headerPageContainer button:hover{
    background-color: rgba(123, 122, 122, 0.3);
    cursor: pointer;
}

.cerrarSesionHeader{
    width: 30px;
}


