.inputContainer{
    background-color: white;
    height: 20%;
    border-top: 1px solid #b4b6b8;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textContainer{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textContainer button{
    background-color: unset;
    border-style: none;
}

.textContainer textarea{
    width: 100%;
    max-width: 85%;
    min-width: 85%;
    min-height: 65px;
    max-height: 65px;
    padding: 0 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    overflow-y: scroll; 
    scrollbar-width: none;
}

.inputContainer textarea::-webkit-scrollbar {
    display: none;
  }

.inputContainer textarea:focus {
    outline: none;
}

.iconSend{
    font-size:30px;
    color: #b4b6b8;
    transition: color 0.5s, font-size 0s;
}

.iconSend:hover{
    color: #26295B;
    font-size:31px;
    cursor: pointer;
}

.media-container{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}

.emojis{
    font-size: 25px;
    color: #b4b6b8;
}

.doc{
    font-size: 21px;
    color: #b4b6b8;  
}

.img{
    font-size: 23px;
    color: #b4b6b8; 
}

.img:hover, .doc:hover, .emojis:hover{
    color: #26295B;
    cursor: pointer;
}