@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=DotGothic16&family=Roboto:ital,wght@0,300;1,400;1,500&family=Silkscreen&display=swap');


/* Estilos para el fondo oscuro que cubre la pantalla */
.modal-overlay {
  font-family: 'Assistant', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semitransparente */
  z-index: 9999;
  /* Coloca el overlay por encima de todo */
  text-align: center;
}

.closeModal{
  display: none;
}

/* Estilos para el modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 400px;
}

.modal-welcome{
  background-color: #e0e4e4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  height: 25%;
}

.modal-welcome p {
  color: rgb(76, 75, 75);
  font-size: 15px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-welcome h3 {
  color: rgb(48, 48, 48);
  font-size: 24px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 50px;

}

.img-loggin{
  width: 25%;
  margin-top: -25px;
  border-radius: 5px;
}

.modalBody{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 60px 30px;
}

.modal button:hover {
  background-color: #0062cc;
  cursor: pointer;
}

.ulChatHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulChatHeader li {
  color: black;
  list-style: none;
  padding: 10px;
  text-align: center;
  width: 95%;
  margin: 3px 0;
  text-decoration: none;
  border-bottom: 1px solid #e0e4e4;
}

.ulChatHeader li:hover {
  background-color: rgba(133, 127, 127, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #26295B;
  background-color: rgba(133, 127, 127, 0.2);
}