.login{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 30%;
    height: 50vh;
    margin: 50px;
    padding: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .note p{
        text-align: center;
    }

    .messages{
        background-color: transparent;
        border: unset;
        cursor: pointer;
        padding: 5px;
    }
}