.chatContainer {
    max-height: 68%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3px 10px;
}

  .left {
    max-width: 70%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    padding: 12px;
  }

  .right {
    text-align: start;
    max-width: 70%;
    background-color: #E7E9F8;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    padding: 12px;
    margin-left: auto;
  }
  
   .meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
   .meta .sender {
    font-weight: bold;
    margin-right: 8px;
    font-size: 14px;
  }
  
   .meta .timestamp {
    color: #999;
    font-size: 12px;
  }
  
   .text {
    font-size: 14px;
    line-height: 1.5;
  }