.chatContainer {
  max-height: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3px 10px;
}

.left, .right {
  max-width: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
  padding: 12px;
  word-wrap: break-word;
}

.right {
  text-align: start;
  background-color: #E7E9F8;
  margin-left: auto;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.meta .sender {
  font-weight: bold;
  margin-right: 8px;
  font-size: 14px;
}

.meta .timestamp {
  color: #999;
  font-size: 12px;
}

.text {
  font-size: 14px;
  line-height: 1.5;
}